@media screen and (max-width:1200px){
  #reset {
    left: 30%;
  }
}

:root {
  --colorDarkBlue: #313060;
  --colorWhite: #FFF;
  --colorRed: #FF0000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background-color: white;
  margin: 0px;
  padding: 0px;
}

#add, button:focus {
  border: 0;
  outline: 0;
  cursor: pointer;
}

button {
  border: 1px solid;
  cursor: pointer;
}

input {
  border: 1px solid;
  outline: 0;
}

.title {
  color: var(--colorDarkBlue);
  text-align: center;
}

.header {
  background-color: #E2DDF8;
  text-align: center;
  margin: 30px;
  border-radius: 7px;
  padding: 25px;

}

.header_navigation {
  display: flex;
}

.header__link {
  font-family: Arial;
  font-size: 20px;
  position: relative;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}

.header__link:not(:first-of-type) {
  margin-left: 10px;
}

.header__link:not(.is-active) {
  color: var(--colorDarkBlue);
}

.header__link.is-active {
  background-color: var(--colorDarkBlue);
  color: var(--colorWhite);
}

.header__icon {
  fill: var(--colorDarkBlue);
}

.header__link.is-active .header__icon {
  fill: var(--colorWhite);
}

.container {
  padding-bottom: 200px;
}

.section  {
  flex-direction: column;
  
}

.form {
  background-color: #E2DDF8;
  border: 10px solid #E2DDF8;
  border-radius: 15px;
  font-size: 16px;
  max-width: 575px;
  max-height: 50px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 3px;
}

#add {
  border-radius: 50px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: lightgreen;
  border-color: white;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  position: relative;
  top: 16px;
}

.trash {
  background-color: #db2828e3;
  width: 30px;
  height: 30px;
  font-size: 15px;
  justify-content: center;
  border-radius: 50px;
  position: relative;
  left: 102%;
  bottom: 25px;
  
}

.section input {
  border-radius: 10px;
  font-size: 16px;
}

.footer {
  background-color: #313060;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  height: 80px;
  padding-top: 20px;
}

.preco {
  position: fixed;
  left: 51.65%;
}

.quantidade {
  position: fixed;
  right: 51.8%;
}

#qTot {
  position: relative;
  right: 2.5%;
}

#pMed {
  position: relative;
  left: .5%;
}

#reset {
  background-color: white;
  position: relative;
  left: 10%;
  bottom: 40px;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  justify-content: center;
}
