button {
  cursor: pointer;
  border: none;

  &:focus {
    border: 1px solid;
    border-color: var(--colorDarkBlue);
    outline: 0;
    cursor: pointer;
  }

}

.reset {
  background-color: white;
  display: flex;
  margin-top: 25px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-image: url(../svg/reset.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform .5s linear .15s, opacity .5s linear;
  transform: rotate(0);
  transform-origin: center;
  position: absolute;
  visibility: hidden;
  opacity: 0;

  &.is-shown {
    position: relative;
    visibility: visible;
    opacity: 1;
  }
  
  &:hover {
    transform:rotate(360deg);
    cursor: pointer;
  }

}

#add {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-image: url(../svg/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #05B595;
  display: flex;
  flex: 0 0 auto;
  margin: auto 25px auto 25px;

  @media only screen and (max-width: 768px) {
    
    & {
      margin: 25px 0;
    }

  }

}

.trash {
  background-color: #B03500;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url(../svg/trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;

  &-button {
    margin: 15px auto 0 auto;
    opacity: 0;
    transition: all .5s linear;
    visibility: hidden;
    overflow: hidden;
  }
  
  &-button.is-shown {
    opacity: 1;
    visibility: visible;
  }

}
