.header {
  background-color: #F2F4FF;
  margin-bottom: 30px;
  border-radius: 7px;
  padding: 15px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: flex;

  &__link {
    position: relative;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
  }
  
  &--info {
    display: flex;
    margin: 0 0 0 auto;
  }
  
  &__link:not(.is-active) {
    color: var(--colorDarkBlue);
  }
  
  &__link.is-active {
    background-color: var(--colorDarkBlue);
    color: var(--colorWhite);
  }
  
  &__icon {
    fill: var(--colorDarkBlue);
    margin-right: 5px;
  }
  
  &__link.is-active .header__icon {
    fill: var(--colorWhite);
  }

  @media only screen and (max-width: 680px) {
  
    // &--info {
    //   display: none;
    // }
    
  } 
  
  @media only screen and (max-width: 768px) {

    & {

      display: flex;
      position: sticky;
      top: 30px;
      z-index: 100;

    }

    &__link:last-child {
      margin: 0 0 10px 10px;
    }

    &__link:not(:last-child) {
      margin: 10px 0 10px 10px;
    }

  }
  
}

