:root {
  --colorDarkBlue: #313060;
  --colorWhite: #FFF;
  --colorRed: #FF0000;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  border: 1px solid;
  border-color: var(--colorDarkBlue);
  outline: 0;
  cursor: pointer;
}

input {
  border: 1px solid;
  outline: 0;
  font-family: 'Red Hat Text', sans-serif;
}

input:focus {
  border-color: var(--colorDarkBlue);
}

.header {
  background-color: #F8F8FF;
  text-align: center;
  margin: 30px;
  border-radius: 7px;
  padding: 25px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.title {
  color: var(--colorDarkBlue);
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 30px;
  line-height: 41px;
}

.header_navigation {
  display: flex;
}

.header__link {
  position: relative;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}

.header__link:not(:first-of-type) {
  margin-left: 10px;
}

.header__link:not(.is-active) {
  color: var(--colorDarkBlue);
}

.header__link.is-active {
  background-color: var(--colorDarkBlue);
  color: var(--colorWhite);
}

.header__icon {
  fill: var(--colorDarkBlue);
}

.header__link.is-active .header__icon {
  fill: var(--colorWhite);
}

.container {
  padding-bottom: 50px;
}

.section  {
  display: flex;
  flex-direction: column;
}

.form {
  background-color: #F8F8FF;
  border-radius: 10px;
  color: #313060;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 15px;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 16px;
  line-height: 21px;
  transition: width .35s linear;
}

.form:first-child {
  visibility: visible;
}

.form.is-bigger {
  width: 423px;
}

.form.is-bigger:not(:first-child) {
  margin-top: 25px;
}

#qForm {
  position: relative;
  display: flex;
  flex-direction: column;
}

#pForm {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 15px ;
}

.textForm {
  position: relative;
  display: flex;
}

.valuesForm {
  position: relative;
  margin-top: 12px;
  border-radius: 4px;
  border-color: lightgray;
  width: 162px;
  height: 41px;
  display: flex;
  padding: 10px;
  font-size: 16px;
  font-family: 'Red Hat Text', sans-serif;
  color: #313060;
}

#add {
  border-radius: 20px;
  width: 39px;
  height: 39px;
  background-image: url(/add.d3e3ad13.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #05B595;
  display: flex;
  margin: 25px auto 0;
}

.trash {
  background-color: #B03500;
  width: 39px;
  height: 39px;
  border-radius: 20px;
  background-image: url(/trash.0ef05b20.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  margin-left: 15px;
  margin-top: 32px;
}

.trash_button {
  opacity: 0;
  transition: all .5s linear;
  width: 0;
  visibility: hidden;
  overflow: hidden;
}

.trash_button.is-shown {
  opacity: 1;
  width: 60px;
  visibility: visible;
}

.footer {
  background-color: #313060;
  color: white;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  height: 160px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Red Hat Text', sans-serif;  
}

.foot {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  width: 369px;
  transition: width .35s linear;
}

.foot.is-bigger {
  width: 423px;
}

.textFoot {
  position: relative;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
}

.valuesFoot {
  position: relative;
  display: flex;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.reset {
  background-color: white;
  position: relative;
  display: flex;
  border-radius: 35px;
  width: 39px;
  height: 39px;
  background-image: url(/reset.6c29aed7.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform .6s linear .15s, opacity .5s linear;
  transform: rotate(0);
  transform-origin: center;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.reset.is-shown {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.reset:hover {
  transform:rotate(360deg);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  
  .header__link {
    font-size: 16px;
  }
  
  #reset {
    left: 70%;
    bottom: 3.5%;
  }

}


/*# sourceMappingURL=/main.c52e0fe2.css.map */