:root {
  --colorDarkBlue: #313060;
  --colorWhite: #FFF;
  --colorRed: #FF0000;
}

::-webkit-scrollbar {
  height: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--colorDarkBlue);
  border-radius: 7px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: white;
  height: 100%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  border: 1px solid;
  border-color: var(--colorDarkBlue);
  outline: 0;
  cursor: pointer;
}

input {
  border: 1px solid;
  outline: 0;
  font-family: 'Red Hat Text', sans-serif;
}

input:focus {
  border-color: var(--colorDarkBlue);
}

.header {
  background-color: #F2F4FF;
  margin-bottom: 30px;
  border-radius: 7px;
  padding: 15px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: flex;
}

main {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
}

.header--info {
  display: flex;
  margin: 0 0 0 auto;
}

.header__link {
  position: relative;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
}

.header__link:not(.is-active) {
  color: var(--colorDarkBlue);
}

.header__link.is-active {
  background-color: var(--colorDarkBlue);
  color: var(--colorWhite);
}

.header__icon {
  fill: var(--colorDarkBlue);
  margin-right: 5px;
}

.header__link.is-active .header__icon {
  fill: var(--colorWhite);
}

.title {
  display: flex;
  color: var(--colorDarkBlue);
  font-family: 'Nunito Sans', sans-serif;
}

.title__ico {
  margin-right: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.section {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  overflow: auto;
}

.info {
  background-color: #F2F4FF;
  border-radius: 10px;
  color: #313060;
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 16px;
  line-height: 21px;
}

.text--info {
  position: relative;
  display: flex;
}

.values--info {
  position: relative;
  margin-top: 12px;
  border-radius: 4px;
  border-color: lightgray;
  height: 41px;
  display: flex;
  padding: 10px;
  font-size: 16px;
  font-family: 'Red Hat Text', sans-serif;
  color: #313060;
}

.values-mp--info {
  width: 162px;
}

.quantity--info {
  position: relative;
  display: flex;
  flex-direction: column;
}

.results {
  background-color: #313060;
  border-radius: 10px;
  padding: 20px;
  color: white;
  font-size: 20px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  font-family: 'Red Hat Text', sans-serif;
  transition: height .35s linear;  
}

.results span {
  color: #DBDEF9;
}

.results.is-bigger {
  height: 255px;
}

.reset {
  background-color: white;
  display: flex;
  margin-top: 25px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-image: url(./reset.6c29aed7.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform .5s linear .15s, opacity .5s linear;
  transform: rotate(0);
  transform-origin: center;
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.reset.is-shown {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.reset:hover {
  transform:rotate(360deg);
  cursor: pointer;
}

.mid-price {
  display: flex;
  flex-direction: column;
}

.mid-price--info {
  height: 200px;
  transition: height .35s linear;
}

.mid-price--info.is-bigger {
  height: 255px;
}

.mid-price--info:first-child {
  visibility: visible;
}

.mid-price--info.is-bigger:not(:first-child) {
  margin-left: 25px;
}

.price--info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.results-mp--price {
  padding-top: 25px;
}

.results--text {
  position: relative;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
}

.results--values {
  position: relative;
  display: flex;
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.readonly:focus {
  border-color: lightgray;
}

#add {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-image: url(./add.d3e3ad13.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #05B595;
  display: flex;
  flex: 0 0 auto;
  margin: auto 25px auto 25px;
}

.trash {
  background-color: #B03500;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url(./trash.0ef05b20.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
}

.trash-button {
  margin: 15px auto 0 auto;
  opacity: 0;
  transition: all .5s linear;
  visibility: hidden;
  overflow: hidden;
}

.trash-button.is-shown {
  opacity: 1;
  visibility: visible;
}

.simulation--info {
  height: 315px;
  width: 306px;
  margin-right: 15px;
}

.results-simu--price {
  padding-top: 30px;
}

#results-simu-starter {
  color: #A7B0FF;
}

.percentage-info {
  width: 230px;
  height: 193px;
  margin-right: 15px;
}

.results-percentage {
  min-width: 175px;
  margin-right: 52.25px;
}

.results-percent--text {
  justify-content: center;
}

.results-percent--values {
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  
  .header__link {
    font-size: 16px;
  }
  
  #reset {
    left: 70%;
    bottom: 3.5%;
  }

}


/*# sourceMappingURL=/main.c52e0fe2.css.map */
